body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background:white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#formulario{

  max-width: 400px;
  margin: 0  auto;
  width: 100%;
  margin-top: 50px;
}

#formulario input{

  width: 100%;
  height: 30px;
  border: 2px orangered solid;
  background-color: transparent;
  color: black;

}


#formulario button{

  width: 100%;
  height: 40px;
  font-family: serif;
  font-size: 18px;
  color: white;
  font-weight: bold;
  border: 0;
  background-color: orangered;
  margin-top: 10px;

  
}

#formulario h1{
  text-align: center;
  padding: 10px;
  color: orangered;
}



#formulario p{

  font-family: serif;
  font-size: 18px;
  color: black;
  font-weight: bold;
  
}